@using MudBlazor;
@page "/account"

<h3>Account</h3>

<MudAppBar Color="Color.Primary" Fixed="true">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
    <MudSpacer />
</MudAppBar>
<MudDrawer @bind-Open="drawerOpen" Anchor="Anchor.Left" Color="Color.Dark" Elevation="4">
    <MudNavMenu>
        <MudNavLink Href="/dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>
        <MudNavLink Href="/account" Match="NavLinkMatch.Prefix">Account</MudNavLink>
        <MudNavLink Href="/transactions" Match="NavLinkMatch.Prefix">Transaction</MudNavLink>
    </MudNavMenu>
</MudDrawer>


<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Balance </MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Dark">Transfer</MudButton>
            </MudCardActions>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText>Rs 500000</MudText>
    </MudCardContent>
    
</MudCard>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Debit</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Color="Color.Error">Rs 500000</MudText>

    </MudCardContent>

</MudCard>

@code {
    private bool drawerOpen = false;

    private void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }
   
}
